{{!-- The following component displays Ember's default welcome message. --}}
{{!welcome-page}}
{{!-- Feel free to remove this! --}}

<h1 class="page-header">DTC: Pretty Damn Fast (PDF) Presentations</h1>
<p><a href="budget-calculator">See Budget Calculator</a></p>
{{outlet}}
